<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="motorcycle.EnterProductData"/>
      <class name="motorcycle.SelectPriceOption"/>
      <class name="automobile.EnterProductData"/>
      <class name="truck.SendQuote"/>
      <class name="camper.EnterInsurantData"/>
      <class name="truck.SelectPriceOption"/>
      <class name="camper.EnterProductData"/>
      <class name="camper.EnterVehicleData"/>
      <class name="truck.EnterProductData"/>
      <class name="secondmavenpackage.AppTest"/>
      <class name="truck.EnterVehicleData"/>
      <class name="automobile.EnterInsurantData"/>
      <class name="motorcycle.SendQuote"/>
      <class name="camper.SelectPriceOption"/>
      <class name="camper.SendQuote"/>
      <class name="automobile.EnterVehicleData"/>
      <class name="truck.EnterInsurantData"/>
      <class name="motorcycle.EnterInsurantData"/>
      <class name="motorcycle.EnterVehicleData"/>
      <class name="automobile.SelectPriceOption"/>
      <class name="automobile.SendQuote"/>
      <class name="samplePackage.TestScript1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
